body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  margin: 0 auto;
  margin-top: 30px;
  padding:  25px;
  max-width:  450px;
  border: 0.5px solid #ccc;
}

hr {
  border: 0.5px dashed #ccc;
}

.addName {
  font-size: 18px;
  width: 80%;
  line-height: 1.3;
}

.addBtn {
  margin-left:  10px;
  width: 10%;
  font-size: 16px;
}

.bookList {
  margin: 0;
  padding: 0;
}

.bookList li {
  position: relative;
  list-style-type: none;
  display: block;
  margin: 0;

  font-size: 24px;
}

.bookList li label {
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  display: block;
  line-height: 1.2;
}

.bookList li:hover {
  background-color: #eee;
}

.bookList li .destroy {
  border: none;
  background-color: #eee;
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #000;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.bookList li .destroy:hover {
  color: #af5b5e;
}

.bookList li .destroy:after {
  content: '×';
}

.bookList li:hover .destroy {
  display: block;
}

.dragging {
  background: #eef;
  border: 2px dashed #ccc;
}
